.header {
    width: 100%;
    height: 70px;
    background-color: rgba(95, 255, 202, 0.4);
    /* sondaki 0.65 görünürlülük sağlar */
    backdrop-filter: blur(10px);
    /* Arkadaki içeriği 10px bulanıklaştırır */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;

    /* --- DEĞİŞEN KISIM --- */
    position: fixed; /* sticky yerine fixed */
    top: 0;
    left: 0;         /* Sol tarafa tam yapışması için */
    z-index: 1000;   /* Diğer her şeyin üstünde durması için */

    box-sizing: border-box;
}

.header span {
    font-size: 15px;
}

.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

/* Sağ taraftaki arama ve buton grubu */
.header-right {
    display: flex;
    gap: 10px;
}

.search-input {
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn-profile {
    padding: 8px 15px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}